
<main class="stack-stream">

{{#if isSpread}}
 {{render article-spread firstArticle}}
{{/if}}

{{#if isExternalLink}}
 <div >
	 <h3> 
	 	<a href="{{unbound firstArticle.body.0.html}}" target="blank"><i class="icon-link-ext-alt"></i> From {{unbound firstArticle.body.1.html}}:  {{unbound firstArticle.headline}} </a>
	</h3> 
	<div> {{unbound firstArticle.summary}}</div>
</div>
{{/if}}

{{#if isPost}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isPhoto}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isGallery}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isVideo}}
	 <h2>Video not available yet...</h2>
{{/if}}

</main>

<div style="color:#ccc">Type: {{unbound firstArticle.type}} |
	Section: {{#each firstArticle.sections}} {{unbound title}}, {{/each}} |
	Topic: {{#each firstArticle.topics}} {{unbound title}}, {{/each}} | 
	{{#each firstArticle.storyline}} Storyline: {{unbound title}}  {{/each}}

</div>
