
<main class="stack-stream">

{{#if isSpread}}
 {{render article-spread firstArticle}}
{{/if}}

{{#if isExternalLink}}
 <div class="stack-l-content">
     <span class="panel-cta-externallink-icon uni-icon-font icon-link-ext-alt"></span>
	 <h3>From {{firstArticle.body.1.html}}: </h3>
	 <h3> <a href="{{unbound firstArticle.body.0.html}}" target="blank"> {{firstArticle.headline}} </a>
	</h3> 
	<p> {{firstArticle.summary}}</p>
</div>
{{/if}}

{{#if isPost}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isPhoto}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isGallery}}
	 {{render article-spread firstArticle}} 
{{/if}}

{{#if isVideo}}
	 <h2>Video not available yet...</h2>
{{/if}}



</main>

<p style="color:#ccc">Type: {{firstArticle.type}} |
	Section: {{#each firstArticle.sections}} {{title}}, {{/each}} |
	Topic: {{#each firstArticle.topics}} {{title}}, {{/each}} | 
	Storyline: {{#each firstArticle.storyline}} {{title}}  {{/each}}

 </p>
