<article class="panel panel-11 panel-{{unbound type}} panel-3x5 panel-alpha">
  <div class="panel-l-content">
  	<div class="base-l-flag">
  		<a href="#/{{unbound sections.firstObject.slug}}">
  			<div class="base-flag">{{unbound sections.firstObject.title}}</div>
		</a>  
	</div>
  	
   {{!--  <time title="2014-03-29 10:46:43 Z" class="panel-time-reversed">15 hours</time> --}}
    <div class="panel-l-height-5">
     {{#if main_art.url}} 
      <div class="panel-img"> 
      	{{#link-to 'article' this.externalId}}
			    {{adaptive-img imgurl=main_art.url alt=main_art.caption}}
		    {{/link-to}}
 	    </div>
     {{/if}}
    </div>
    
    <div class="panel-headline panel-spread-headline">
      	{{#link-to 'article' this.externalId}}
  			<h1 class="panel-heading panel-heading-alpha">{{unbound headline}}</h1>
		{{/link-to}}
    </div>
    
  </div>
</article>
