<article class="panel panel-11 panel-post panel-4x10 panel-beta">
				<div class="panel-l-content">
					<div class="panel-l-height-8">
							<div class="base-l-flag">
								<div class="base-flag">{{sections.firstObject.title}}</div>
							</div>
						<time title="2014-03-25 22:00:30 Z" class="panel-time-reversed">21 hours</time>
						<small class="panel-credit-art-beta">{{unbound main_art.source}}</small>
						<div id="ember2681" class="ember-view panel-img"> {{#link-to 'article' this.externalId}}
							<img class="panel-img-lede" src="{{unbound main_art.url}}" width="440" data-bindattr-649="649" height="320" data-bindattr-650="650" alt="{{unbound main_art.caption}}">
						{{/link-to}}</div>
					</div>

					<div class="panel-headline panel-post-headline">
						<a href="{{unbound canonical_url}}">
						<h1 class="panel-heading panel-l-height-2 panel-heading-beta" alt="{{unbound headline}}">{{unbound headline}}</h1>
					    </a>
					</div>
					<div class="panel-byline-beta">
						{{bylines.firstObject.name}}
					</div>
					<div class="button-toggle-share">
						<i class="button-toggle-share-open button-toggle-share-icon uni-icon-font icon-export"></i>
						<i class="button-toggle-share-close button-toggle-share-icon uni-icon-font icon-cancel"></i>
					</div>
					<div class="panel-share-bar">
						<ul class="panel-list-share">
							<li class="base-item-share panel-item-share">
								<a data-ember-action="653" href="https://www.facebook.com/sharer.php?u={{unbound canonical_url}}&amp;t={{unbound headline}}" target="blank" class="uni-icon-font icon-facebook-squared base-share-link" title="Share on Facebook"></a>
							</li>
							<li class="base-item-share panel-item-share">
								<a data-ember-action="654" href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text={{unbound headline}}&amp;url={{unbound canonical_url}}&amp;via=NBCNews" target="blank" title="Share on Twitter" class="uni-icon-font icon-twitter base-share-link"></a>
							</li>
							<li class="base-item-share panel-item-share">
								<a class="uni-icon-font icon-mail-alt base-share-link" href="mailto:?subject={{unbound headline}} on NBCNews.com&amp;body=From NBCNews.com... %0D%0A%0D%0AFacebook to Buy Virtual Reality Startup Oculus for $2 Billion%0D%0A{{unbound canonical_url}}" title="Share on Email" trackingevent="actionFrontShare"> </a>
							</li>
							<li class="base-item-share panel-item-share panel-item-share-comment">
								<a class="uni-icon-font icon-comment base-share-link" href="http://www.newsvine.com/_api/discuss?u={{unbound canonical_url}}&amp;t=tech%2Cgadgets&amp;cid=" title="Read comments" trackingevent="actionFrontShare"> </a>
							</li>
						</ul>
					</div>
				</div>
</article>